/Codigo/Restaurante/Core/bin
/Codigo/Restaurante/Core/obj
/Codigo/Restaurante/RestauranteWeb/bin
/Codigo/Restaurante/RestauranteWeb/obj
/Codigo/Restaurante/Service/bin
/Codigo/Restaurante/Service/obj
/Codigo/Restaurante/Util/bin
/Codigo/Restaurante/Util/obj
/Codigo/Restaurante/.vs
