@model RestauranteWeb.Models.PedidoViewModel

<div class="details-container">
    <h2 class="details-title">Editar Pedido</h2>
    <hr class="details-divider" />
    <div class="form-container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraSolicitacao" class="control-label"></label>
                <input asp-for="DataHoraSolicitacao" class="form-control" />
                <span asp-validation-for="DataHoraSolicitacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraAtendimento" class="control-label"></label>
                <input asp-for="DataHoraAtendimento" class="form-control" />
                <span asp-validation-for="DataHoraAtendimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAtendimento" class="control-label"></label>
                <input asp-for="IdAtendimento" class="form-control" />
                <span asp-validation-for="IdAtendimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGarcom" class="control-label"></label>
                <input asp-for="IdGarcom" class="form-control" />
                <span asp-validation-for="IdGarcom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-buttons">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-back">Voltar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
