/* Estilos gerais da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho (header) */
header {
    background-color: #333;
    padding: 20px 0;
    color: white;
}

    header .navbar-brand {
        font-size: 2rem;
        color: #f0f0f0;
        font-weight: bold;
    }

    header .navbar-nav .nav-link {
        color: #00bfff;
        padding: 10px;
        border: 1px solid #00bfff;
        border-radius: 5px;
        margin: 0 5px;
    }

        header .navbar-nav .nav-link:hover {
            background-color: #00bfff;
            color: white;
        }

/* Estilos para o campo de pesquisa */
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
}

/* Estilos para o botão de pesquisa */
button[type="submit"] {
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

    button[type="submit"]:hover {
        background-color: #007bbf;
    }

/* Estilos para o formulário */
.form-restaurante {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    color: #000000;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
}

    .form-control:focus {
        border-color: #00bfff;
        box-shadow: 0 0 0 0.1rem rgba(0, 191, 255, 0.5);
    }


a {
    color: #00bfff;
}

    a:hover {
        text-decoration: underline;
        color: #007bbf;
    }


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #f0f0f0;
}

th {
    background-color: #333;
    color: white;
}

td {
    background-color: #444;
}

/* Estilos para os botões */
.btn-primary {
    background-color: #00bfff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    width: 100%;
}

    .btn-primary:hover {
        background-color: #007bbf;
    }

.btn-link {
    color: #00bfff;
    text-decoration: none;
}

    .btn-link:hover {
        text-decoration: underline;
    }

/* Estilos para o rodapé (footer) */
footer {
    background-color: #1f1f1f;
    color: white;
    padding: 15px 0;
    text-align: center;
    margin-top: 50px;
}

    footer a {
        color: #00bfff;
    }

        footer a:hover {
            color: #007bbf;
        }

/* Estilos de responsividade */
@media (max-width: 768px) {
    header .navbar-brand {
        font-size: 1.5rem;
    }

    .form-restaurante {
        margin: 15px 0;
    }
}
