@model RestauranteWeb.Models.PedidoitemcardapioViewModel

<h4>PedidoitemcardapioViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdItemCardapio" class="control-label"></label>
                <input asp-for="IdItemCardapio" class="form-control" />
                <span asp-validation-for="IdItemCardapio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPedido" class="control-label"></label>
                <input asp-for="IdPedido" class="form-control" />
                <span asp-validation-for="IdPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
