@model RestauranteWeb.Models.PedidoitemcardapioViewModel

<div class="details-container">
    <h2 class="details-title">Editar Item no cardapio</h2>
    <hr class="details-divider" />
    <div class="form-container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdItemCardapio" class="control-label"></label>
                <select asp-for="IdItemCardapio" class="form-control" asp-items="Model.ItensCardapio"></select>
                <span asp-validation-for="IdItemCardapio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdPedido" class="control-label"></label>
                <input asp-for="IdPedido" class="form-control" />
                <span asp-validation-for="IdPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>

            <div class="form-buttons">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-back">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
