@{
    ViewData["Title"] = "Política de Privacidade - RestauranteWeb";
}

<div class="container my-5 py-5">
    <div class="text-center mb-5">
        <h1 class="display-4 text-primary font-weight-bold">@ViewData["Title"]</h1>
        <p class="lead text-secondary">Detalhes sobre como suas informações são coletadas, usadas e protegidas</p>
    </div>

    <div class="bg-light p-4 rounded shadow-sm">
        <p style="color:gray;">
            No <strong>RestauranteWeb</strong>, respeitamos a sua privacidade e nos comprometemos a proteger suas informações pessoais. Esta Política de Privacidade descreve como coletamos, usamos e protegemos suas informações ao utilizar nossos serviços. Coletamos dados como nome, endereço de e-mail e informações de contato quando você se registra em nossa plataforma ou interage conosco. Essas informações são utilizadas para fornecer um serviço melhor, gerenciar suas preferências e garantir a segurança da sua experiência em nosso sistema. Comprometemo-nos a não compartilhar suas informações pessoais com terceiros sem o seu consentimento, exceto em situações em que a lei exige. A segurança das suas informações é nossa prioridade, e tomamos as medidas necessárias para protegê-las contra acesso não autorizado. Se você tiver alguma dúvida sobre nossa política de privacidade ou o uso de suas informações, não hesite em entrar em contato conosco.
        </p>
    </div>
</div>